ForwardX11=yes

# Keepalive for UB Wireless
ServerAliveInterval=30
ServerAliveCountMax=5

# Useful if using zsh and hostname completion based on known hosts file
HashKnownHosts=no

# Use my github key when working with repos via ssh
Host github.com
    AddKeysToAgent yes
    UseKeychain yes
    HostName github.com
    IdentityFile ~/.ssh/github
    User git
